.header,
.header__container {
  width: 100%;
  height: 15vh;
}

.header {
  background-color: var(--yellow);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  position: relative;
}

.navbar__title {
  font-size: 2.5rem;
  color: #13160d;
  font-weight: var(--boldest-text);
}

.navbar__title span {
  color: var(--light-gray);
}

.check {
  display: none;
}

.navbar__menu {
  display: flex;
  width: 100%;
  height: 85vh;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 15vh;
  z-index: -1;
  transform: translateY(-1000px);
  transition: all linear 0.5s;
}

.navbar__menu li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: var(--medium-text);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
}

.hamburger img {
  width: 24px;
  height: 11px;
  transform: scale(1);
  transition: all linear 0.3s;
}

.check:checked + .hamburger img {
  transform: scale(1.7);
}

.open {
  background-color: #0000008a;
  transform: translateY(0px);
}

.open li a:hover {
  color: var(--light-yellow);
}
