.header,
.header__container {
  width: 100%;
  height: 15vh;
}

.header {
  background-color: var(--yellow);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  position: relative;
}

.navbar__title {
  font-size: 2rem;
  color: #13160d;
}

.navbar__title span {
  color: #e7ecef;
}

.check {
  display: none;
}

.navbar__menu {
  display: flex;
  width: 100%;
  height: 85vh;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 15vh;
  z-index: -1;
  transform: translateY(-200px);
  transition: all linear 0.3s;
}

.navbar__menu li a {
  text-decoration: none;
  color: var(--light-gray);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
}

.hamburger img {
  transform: scale(1);
  transition: all linear 0.3s;
}

.check:checked + .hamburger img {
  transform: scale(1.3);
}

.open {
  z-index: 1;
  background-color: #00000044;
  transform: translateY(0px);
}

.open li a:hover {
  color: var(--light-yellow);
}
