.section,
.aboutMe,
.aboutMe__profile,
.aboutMe__profile-img {
  width: 100%;
}

.section {
  background-color: var(--quite-dark);
}

.aboutMe__profile-img {
  display: flex;
  justify-content: center;
}

.aboutMe__profile-img > img {
  width: 60%;
  max-width: 300px;
  max-height: 28rem;
  margin-top: 3rem;
  object-fit: cover;
  border-radius: 8rem;
}

.aboutMe__profile-card {
  width: 100%;
  padding: 2rem 0;
  line-height: 3rem;
  margin-top: 5rem;
  background-color: var(--dark-yellow);
}

.aboutMe__profile-card .paragraph {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.aboutMe__profile-card .paragraph span {
  font-weight: 400;
  font-style: italic;
}

.aboutMe__description {
  margin-top: 5rem;
}

.aboutMe__description-title {
  margin-left: 1rem;
}

.aboutMe__description-title h2 {
  font-size: 3rem;
  color: var(--light-gray);
}

.aboutMe__description-paragraph {
  padding: 0 1.5rem;
  margin-top: 1rem;
  text-align: justify;
}

.aboutMe__description-paragraph .paragraph {
  font-size: 1.5rem;
  color: var(--gray);
}
