@import url('./header.css');
@import url('./mobile.css');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  overflow-x: hidden;
}

:root {
  /* COLORS */
  --very-light: #fdfcfb;
  --light: #f5f7fa;
  --light-gray: #c3cfe2;
  --very-light-brown: #e2d1c3;
  --dark: #434343;
  --very-dark: #000;
  --lime-green:#5ee24c;
  --bright-cyan:#61c254;
  /* MARGIN */
  --m-small: 1rem;
  --m-medium: 3rem;
  --m-large: 5rem;
}

body {
  width: 100%;
}

.main {
  width: 100vw;
  background-color: var(--light);
  color: var(--dark);
}