@import url("./header.css");
/* @import url("./mobile.css"); */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Tahoma, sans-serif;
}

:root {
  /* BACKGROUND */
  --yellow: #d8bf25;
  --dark-yellow: #6c6014;
  --dark: #111;
  --quite-dark: #0e0c0f;
  --very-dark: #08080a;
  /* TEXT */
  --light-yellow: #e7c525;
  --black: #151016;
  --quite-gray: #b8b8ba;
  --gray: #b7b7b7;
  --light-gray: #eeeeee;
  --white-no: #e9eae2;
  --white: #fffdf1;
  /* MARGIN */
  --m-small: 1rem;
  --m-medium: 3rem;
  --m-large: 5rem;
}

body {
  width: 100%;
}
