@import url("./header.css");
@import url("./aboutMe.css");
@import url("./projects.css");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

:root {
  /* BACKGROUND */
  --yellow: #d8bf25;
  --dark-yellow: #6c6014;
  --dark: #111;
  --quite-dark: #0e0c0f;
  --very-dark: #08080a;
  /* TEXT */
  --light-yellow: #e7c525;
  --black: #151016;
  --quite-gray: #b8b8ba;
  --gray: #b7b7b7;
  --light-gray: #eeeeee;
  --white: #fffdf1;
  /* TEXT WEIGHT */
  --light-text: 300;
  --medium-text: 500;
  --bold-text: 700;
  --boldest-text: 900;
}

body,
.section {
  width: 100%;
}

.section {
  background-color: var(--quite-dark);
  z-index: 10;
}

.title-container {
  padding-bottom: 1rem;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 5rem;
  z-index: 1;
}

.title-container::after {
  content: "";
  width: 30%;
  min-width: 13rem;
  max-width: 16rem;
  height: 2px;
  background-color: var(--light-gray);
  position: absolute;
  bottom: 0;
  left: 19rem;
}